body, h1, h2, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    color: white; /* Default text color */
  }
  
  body {
    background-color: #101010; /* Body background color */
  }
  
  header {
    background-color: #1463F3;
    display: flex;
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    padding: 20px;
    flex-wrap: wrap;
  }

  h1 {
    text-align: center; /* Centers the heading text horizontally */
    color: white; /* Sets the color of the heading text */
    padding: 20px; /* Adds space around the text */
    margin-top: 20px; /* Adds space above the heading */
  }
  
  .logo img {
    height: 35px; /* Adjust to match the size of your actual logo */
    width: auto; /* Maintain aspect ratio */
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    flex-grow: 1;
    margin: 0 20px;
  }

  .search-bar input {
    padding: 10px;
    flex-grow: 1;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
  }

  .search-bar input:focus {
    outline: none;
  }

  .menu-items button {
    background: none;
    border: none;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
  }

  .menu-items button:hover {
    background: rgba(255, 255, 255, 0.2);
  }

  .notes-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Adjust the '250px' as needed */
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .note {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    background-color: #000;
    transition: transform 0.2s;
  }
  
  .note:hover {
    transform: scale(1.05);
  }
  
  .note-image {
    width: 100%;
    display: block;
    object-fit: cover;
    border-top-left-radius: 10px; /* Match the note's border radius */
    border-top-right-radius: 10px; /* Match the note's border radius */
  }
  
  .note-details {
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
  }
  
  .note-title-overlay h3 {
    margin-bottom: 10px; /* Increase space between title and date */
    font-size: 1.2em;
  }
  
  .release-date {
    margin-bottom: 20px; /* Increase space between date and lab name */
    font-size: 0.8em;
  }
  .note-title-overlay {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
 
  .class-name {
    font-size: 0.9em;
    font-weight: bold;
  }
  .review-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
  }
  .reviews-badge {
    background-color: #FF0000;
    color: #fff;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.7em;
  }
  .score {
    background-color: #fff;
    color: #000;
    padding: 2px 5px;
    border-radius: 5px;
    font-size: 0.7em;
  }

  @media (max-width: 768px) {
    .notes-grid {
        grid-template-columns: 1fr; /* Full width notes on smaller screens */
        padding: 10px; /* Adjust padding for smaller screens */
    }
    
    .note {
        width: 100%; /* Full width notes on smaller screens */
    }

    .menu-items, .search-bar {
        flex-direction: column;
        align-items: stretch;
    }

    .search-bar input {
        order: -1; /* Search bar goes on top */
        margin-bottom: 10px;
    }
    }